body {
  margin: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75em;
}
/*Menu*/

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #0065FC;
}

a.active {
    text-decoration: dotted;
    color: #0065FC;
}

/*Barre de recherche*/

.recherche, .fltr {
    display: flex;
}

.fltr {
  margin-top: 25px;
}

.search {
    background-color: #0065FC;
    color: white;
}

/*Corps de la page*/

.accommodation {
  
  display: flex;
}

.logement{
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.famous {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-self: end;
  background-color: #F2F2F2;
}

.acc_img {
  width: 75%;
  height: 70%;
  
}

.card {
  width: 250px;
  height: 250px;
  margin: 1.5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 20px/10px;
}

.description {
  margin: 1em;
}
