@media all and (max-width: 767px) {
  body {
    width: 100%;
    font-size: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
  /*Top Nav*/
  .container {
    display: inline-block !important;
  }
  #logo {
    margin-left: 1em;
    margin-top: 1em;
  }
  nav li {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }

  .navbar {
    height: 20% !important;
    flex-flow: wrap row !important;
    width: 400px;
    justify-content: space-evenly;
  }
  #sub {
    position: absolute;
    top: 2.3em;
    right: 0;
  }

  .active {
    margin: 0;
    padding: 0;
    height: 3em !important;
    border-top: 0 solid #0065fc !important;
    border-bottom: 3px solid #0065fc;
    width: 45% !important;
  }

  #nav-activities {
    width: 55% !important;
    border-bottom: 3px solid #f2f2f2;
  }
  /*Barre de recherche*/
  .btn-search {
    display: flex;
    justify-content: center !important;
  }
  /*Filtres recherche*/

  .filtre {
    flex-flow: row wrap !important;
  }
  #title-filtre {
    width: 100%;
  }
  .filtre-bouton {
    border: 1px solid #deebff !important;
    font-size: 1em !important;
    height: 5px !important;
    margin-left: 1em !important;
    margin-bottom: 1em;
    align-items: center;
  }
  .icone-fltr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #0065fc;
    left: -2px;
    bottom: 0;
    width: 33px !important;
    height: 33px !important;
    border: 2px solid #deebff;
    background-color: #deebff;
    border-radius: 50%;
  }
  .locate-icon {
    padding: 10px !important;
  }
  .bouton-recherche {
    padding: 10px !important;
  }
  /* Corps de la page */

  #slogan {
    margin-left: 1em !important;
  }
  /*Hébergements à Marseille*/
  .accommodation {
    flex-wrap: wrap-reverse !important;
    width: 100% !important;
  }
  #logement {
    background-color: white !important;
    border-radius: 0px/0px !important;
    width: 100% !important;
  }
  #links-lgmt {
    align-items: center;
  }
  .acc-card {
    width: 95% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1.5em !important;
    padding: 0 !important;
    background-color: white !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
    border-radius: 20px/20px !important;
  }
  .description {
    padding: 0px 0px !important;
  }
  .titres,
  .ville-cherchee,
  .description-act {
    margin-left: 1em !important;
  }
  .famousHead {
    padding-left: 1em;
  }
  .famous {
    margin-left: 0 !important;
    margin-bottom: 1.5em;
    width: 100% !important;
    border-radius: 0 !important;
  }
  .fame-card {
    width: 95% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  #msts {
    margin-left: 0 !important;
  }
  .mostly-search {
    border-radius: 0 !important;
    align-items: center;
  }

  .nom-hotel {
    margin-top: 1em !important;
    margin-bottom: 0 !important;
  }
  /*Activités*/

  #activities {
    margin-top: 50px;
    margin-bottom: 50px !important;
    padding: 0 !important;
  }
  #links-act {
    max-height: none !important;
  }
  .act-card {
    width: 95% !important;
  }
  .image-act,
  .image-act-grande,
  .image-act-petite,
  .image-act-moy {
    height: 100px !important;
  }
  .description-act {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
  /*Footer*/
  .pied {
    flex-flow: column wrap;
  }
  .foot-menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .foot-links {
    margin: 0 !important;
    padding: 1em !important;
  }
  .foot-links li {
    cursor: pointer;
    margin: 0 0 1em 0 !important;
  }
}

/*
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*/
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    margin-left: 1000px !important;
  }
}
/*
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*********************************************************************************************************
*/
body {
  font-family: "Raleway", sans-serif;
  font-size: 0.85em;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
}
/*Top Nav*/
header {
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
}
nav {
  height: 100%;
}

.navbar {
  display: flex;
  height: 100%;
}
.active,
.nav-menu {
  width: 10em;
}
nav a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
}
.nav-menu :hover {
  width: 100%;
  border-top: 3px solid #0065fc;
  height: 96%;
  color: #0065fc;
}
.active {
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 3px solid #0065fc;
}

.active a {
  color: #0065fc;
}
#inscription {
  color: #0065fc;
  font-weight: bold;
}

a.active {
  color: #0065fc;
  /*
  border-top: solid;
  border-color: #0065fc;
  */
}

/*Barre de recherche*/
.btn-search {
  display: flex;
}
.locate-icon {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recherche {
  display: flex;
}

#srch {
  text-decoration: none;
  border-style: none;
  font-weight: bold;
  color: black;
}
.bouton-recherche {
  margin: 0 auto;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
  padding: 13px;
}
.barre-recherche {
  display: inline-block;
  padding: 10px;
  border: 1px solid #deebff;
}

/*Filtres recherche*/

.filtre {
  display: flex;
  margin: 1em;
  align-items: baseline;
}

.filtre-bouton {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-left: 2em;
  height: 20px;
  border: 2px solid #deebff;
  border-radius: 30px/30px;
  padding: 15px;
  padding-left: 4em;
  font-size: 16px;
  cursor: pointer;
}
.icone-fltr {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #0065fc;
  left: -2px;
  bottom: 0;
  width: 49px;
  height: 47px;
  border: 2px solid #deebff;
  background-color: #deebff;
  border-radius: 50%;
}
/*Corps de la page*/

.disponibilite {
  display: flex;
  align-items: center;
}

/*Hébergements à Marseille*/
.accommodation {
  display: flex;
  margin-top: 2em;
}

#logement {
  background-color: #f2f2f2;
  border-radius: 20px/20px;
  width: 75%;
}

#links-lgmt {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.acc-card {
  width: 25%;
  height: 210px;
  margin: 1.5em;
  padding: 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px/20px;
}

.acc_img {
  display: block;
  margin: 0;
  width: 96%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 5px solid white;
  object-fit: cover;
  padding: 0;
  /*border top left & top right & object-fit:cover?*/
}
.nom-hotel {
  margin-top: -5px;
  margin-bottom: -5px;
}
.etoiles-acc {
  padding-bottom: 2em;
}

.ville-cherchee {
  margin-left: 4em;
}
.famous {
  margin-left: 2em;
  border-radius: 20px/20px;
  background-color: #f2f2f2;
  width: 350px;
}
#msts {
  margin-top: 30px;
  margin-left: 30px;
}
.fame-card {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  height: 150px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-color: white;
  border-radius: 20px/20px;
}
.fame-image {
  width: 125px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 5px solid white;
}
.mostly-search {
  display: flex;
  flex-direction: column;
  border-radius: 20px/20px;
}
.famousHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#fleche {
  margin-right: 25px;
}
.description {
  margin: 1em;
}

/*Activités*/

#activities {
  padding-top: 50px;
  padding-bottom: 50px;
}
#links-act {
  display: flex;
  flex-flow: wrap column;
  width: 100%;
  max-height: 500px;
  align-items: center;
  gap: 2.2em;
}
.act-card {
  width: 21%;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
  border-color: white;
  border-radius: 20px/20px;
}
.description-act {
  padding-left: 20px;
  padding-bottom: 10px;
}
.image-act {
  width: 100%;
  height: 132px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.image-act-petite {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.image-act-moy {
  width: 100%;
  height: 165px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.image-act-grande {
  width: 100%;
  height: 360px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

/*Icons*/

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
  top: 1em;
  text-align: justify;
  vertical-align: middle;
}

#info-icon {
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 20px;
  height: 20px;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 0.7em;
}

.fa-star {
  color: #0065fc;
  padding-bottom: 2em;
}

.greystar {
  color: #dadada;
}

/*Footer*/
.pied {
  background-color: #f2f2f2;
  display: flex;
}

footer ul {
  list-style: none;
}

.foot-menu {
  margin-left: 50px;
  margin-right: 100px;
}
