body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  font-size: 0.85em;
}
/*Top Nav*/
header {
  height: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
}
nav {
  height: 100%;
}

nav ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
nav li {
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  height: 100%;
}
nav a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: black;
}
.active {
  height: 100%;
  margin: 0;
  padding: 0;
  border-top: 4px solid #0065fc;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
nav li :hover {
  border-top: 4px solid #0065fc;
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.navlink {
  display: flex;
  height: 100%;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.active a {
  color: #0065fc;
}
/*
  nav a::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #0065fc;
    position: absolute;
    top: 0;
    width: 0%;
  }
  nav a:hover::after {
    width: 100%;
  }
  */
#sub {
  color: #0065fc;
  font-weight: bold;
}
a:hover {
  color: #0065fc;
}

a.active {
  color: #0065fc;
  /*
    border-top: solid;
    border-color: #0065fc;
    */
}

/*Barre de recherche*/
.btn-search {
  display: flex;
}
.locate-icon {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recherche {
  display: flex;
}

#srch {
  text-decoration: none;
  border-style: none;
  font-weight: bold;
  color: black;
}
.bouton-recherche {
  margin: 0 auto;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
  padding: 10px;
}
.barre-recherche {
  display: inline-block;
  padding: 10px;
  border: 1px solid #f2f2f2;
}

/*Filtres recherche*/

.filtre {
  flex-flow: column wrap;
  margin: 1em;
}

.fltrbtn {
  margin-left: 2em;
  height: 20px;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 30px/30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/*Corps de la page*/

/*Hébergements à Marseille*/
.accommodation {
  flex-wrap: wrap-reverse;
  width: 100%;
}

#logement {
  background-color: #f2f2f2;
  border-radius: 20px/20px;
  width: 100%;
}

#links-lgmt {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.acc-card {
  width: 250px;
  height: 200px;
  margin: 1.5em;
  padding: 0;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px/20px;
}

.acc_img {
  display: block;
  margin: 0;
  width: 96%;
  max-height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 5px solid white;
  /*
      clip-path: inset(100px);
    */
  object-fit: cover;
  padding: 0;
  /*border top left & top right & object-fit:cover?*/
}
.description {
  padding: 0px 0px;
}
.ville-cherchée {
  margin-left: 4em;
}
.famous {
  border-radius: 20px/20px;
  background-color: #f2f2f2;
  width: 100%;
}
#msts {
  margin-top: 30px;
}
.fame-card {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  height: 150px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-color: white;
  border-radius: 20px/20px;
}
.fame-image {
  width: 125px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 5px solid white;
}
.mostly-search {
  display: flex;
  flex-direction: column;
  justify-self: end;
  border-radius: 20px/20px;
}
.famousHead {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#flech {
  margin-right: 25px;
}
.description {
  margin: 1em;
}

/*Activités*/

#activities {
  margin-top: 50px;
  margin-bottom: 50px;
}
#links-act {
  display: inline-block;
  flex-flow: wrap column;
  width: 100%;
  max-height: 500px;
  align-items: center;
  gap: 2.2em;
}
.act-card {
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
  border-color: white;
  border-radius: 20px/20px;
}
.description-act {
  padding-left: 20px;
}
.image-act,
.image-act-grande,
.image-act-petite,
.image-act-moy {
  height: 100px;
}
.image-act {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.image-act-petite {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.image-act-moy {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.image-act-grande {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

/*Icons*/
.fa-dog {
  color: #0065fc;
}

#info-icon {
  color: #0065fc;
}

.fa-star {
  color: #0065fc;
}

#greystar {
  color: #dadada;
}

/*Footer*/
.pied {
  background-color: #f2f2f2;
  display: flex;
}

footer ul {
  list-style: none;
}

.foot-menu {
  margin-left: 50px;
  margin-right: 100px;
}
